body {
  background: #d4d4d4;
  background: -moz-radial-gradient(center, circle cover, white 0%, #d4d4d4 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #d4d4d4));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #d4d4d4 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #d4d4d4 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #d4d4d4 100%);
  background: radial-gradient(center, circle cover, white 0%, #d4d4d4 100%);
  background-color: #d4d4d4;
}
.reveal .lightbg {
  background-color: rgba(255,255,255,0.6);
}
.reveal .copyright {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "League Gothic", Impact, sans-serif;
}
.reveal table.equi3 td {
  width: 30%;
  border: none;
  padding: 0.5em;
}
.reveal ol li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.reveal .spacelist li {
  margin-top: 1em;
  margin-bottom: 1em;
}
.reveal pre code.wrap {
  word-break: break-word;
  white-space: pre-wrap;
}
.reveal section img {
  box-shadow: none;
  background: none;
}
.reveal .highlight {
	color: #FFA739;
}
.reveal .altlight {
	color: #47A6FF;
}
.reveal pre code {
  padding: 0 1.7rem;
}
.reveal a {
	color: #008DEF;
}
.reveal a:hover {
	color: #2EA9FF;
}
img {
	border: none !important;
}
.reveal pre code {
	overflow-x: hidden;
}
.reveal .small {
	font-size: smaller;
	color: #999;
}
.reveal .slides section .fragment.highlight-red.visible {
	color: #F58701 !important;
}
.reveal .slides section .fragment.highlight-blue.visible {
	color: #47A6FF !important;
}
.reveal pre {
	box-shadow: none;
}
.reveal .vertical-list {
	list-style: none;
  margin: 0;
}
.vertical-list li {
	list-style: none;
	padding: 1rem;
}
.horizontal-list {
	list-style: none;
}
.horizontal-list li {
	list-style: none;
	display: inline-block;
	padding: 1rem;
}
.reveal .down {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 50px;
	border-color: #f2f2f2 transparent transparent transparent;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
}
.reveal .down.highlight {
	border-color: #FFA739 transparent transparent transparent;
}
.reveal .down.altlight {
	border-color: #47A6FF transparent transparent transparent;
}

.reveal .c2, .reveal .c4, .reveal .c6, .reveal .c8 {
  display: inline-block;
}
.reveal .c2 { width: 20%; }
.reveal .c4 { width: 40%; }
.reveal .c6 { width: 60%; }
.reveal .c8 { width: 80%; }
